body {
    background: #f5f5f5;
}
a{
    color: #686868;
}
.item.curs{
    color: #ff4200;
    font-weight: bold;
}
.sui-table th{
    padding: 16px 8px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #e6e6e6;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
}
.sui-table td {
    padding: 16px 8px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #e6e6e6;
    font-weight: normal;
    font-size: 12px;
    color: #333333;
}

.header{
    width:1200px !important;
    margin:0 auto !important;
    height: 36px !important;
    background:#fff !important;
}

.nav-manage .list-nav-manage {
    position: absolute;
    padding: 0;
    left: 20px;
    top: 23px;
    width: 90px;
    background: #FFF;
    box-shadow: 1px 1px 2px #e3e3e3, -1px 1px 2px #e3e3e3;
    z-index: 10;
    border-radius: 3px;
}
.list-nav-manage ul.nav-mge-hover{
    width: 90px !important;
    padding:5px 0px !important;
    height: 85px;
    text-align: center;
}
.list-nav-manage ul.nav-mge-hover li{
    width:90px !important;
    float:left;
    padding: 0;
    height: 20px !important;
}
.list-nav-manage ul.nav-mge-hover li a{
    font-family: 'Microsoft YaHei', Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
}

.ms-nav-nav{
    height: 60px;
    width: 787px;
    float: left;
}
.ms-span{
    font-size: 30px;
    color: #fff;
    line-height: 28px;
    font-weight: bold !important;
}
.ms-active{
    padding-left: 0px !important;
}
.ms-active a{
    padding-bottom: 18px;
}
.ms-nav-nav ul{
    height: 43px;
    width: 262px;
    float: left;
    padding-top:16px;
}
.ms-nav-msg-nav{padding-right: 0px !important;}
.ms-nav-nav ul li {
    float: left;
    position: relative;
    padding: 0 30px;
    height: 44px;
    font: 14px/26px \5b8b\4f53,"Microsoft YaHei";
    color: #FFF;
    z-index: 10;
    cursor:pointer;
}
.
.nav-manage{
    position: relative;
}
.nav-manage img{
    position: absolute;
    top:10px;
    right:12px;

}
.ms-nav-nav ul li a{
    font-family: \5b8b\4f53,'Microsoft YaHei', Helvetica, sans-serif;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
}
.ms-nav-nav ul li a:hover{
	text-decoration: underline;
}
.personal-member .main-wrap {
    width: 1068px;
    margin: 15px 0 30px 180px;
    padding: 0 0 39px 0;
    border: 1px solid #ddd;
    background: none;
}
.ms-header-mu{
    width:1200px;
    margin:0 auto;
    background: #f70;
    height: 60px !important;
    position: relative;
}
.hearder_nav{
    height: 112px;
    width: 100%;
    position: relative;

}
.ms-logo_header{
    float: left;
    margin-left:62px;
    height: 60px;
    width: 348px;
}
.ms-head-logo{
    float: left;
    margin-left: 127px;
    margin-top: 16px;
}
.ms-head-logo a{
    height: 33px;
}
.ms-logo_header{
    position: relative;
}
.ms-nav_header{
    float: right;
    width:846px;
}
.ms-nav_header ul li{
    float:left;
}
.ms-search_top .s-combobox-input{
    color: #666;
    height: 26px;
    font-size: 12px;
    font-family: 'Microsoft YaHei', Helvetica, sans-serif;
    width:210px;
    float:left;
    margin-left:5px;
    border:0px;
}
.ms-search_top .button{
    background: url("../images/search.png");
    width: 20px;
    height: 20px;
    border:0;
    cursor: pointer;
    margin-top: 4px;
}
.ms-search_top{
    margin-top:15px;
    float: right;
    padding: 0 0 8px 0;
    background: #fff;
    width: 240px;
    height: 18px;
    border: solid 1px #ff6000;
}
.ms-useinfo{
    clear:both;
    height:45px;
    background: #fff;
}
.header_useinfo{
    height: 45px;
    width: 1200px;
    margin:0 auto;
    background: #fff;
    line-height: 45px;
}
.img_head{
    height: 105px;
    margin:0 auto;
    position: relative;
}
.im_hed{
    position: absolute;
    top:0px;
    left:50px;
    float:left;
    border: solid 3px #FFF;
    border-radius: 50%;
    z-index: 99;

}
.member{
    margin: 16px 3px 0 0 !important;
}
.ms_name_info{
    float:left;
    height: 45px;
    width: 1012px;

}
.link_active{
    margin: 0 8px 0 40px !important;
}
.info-safety a{
  font-family: \5b8b\4f53, 'Microsoft YaHei', Helvetica, sans-serif;
    font-size: 12px;
}
.ms_idea{
    font-family: \5b8b\4f53, 'Microsoft YaHei', Helvetica, sans-serif;
    font-size: 12px;

}
.ms_reg{
    margin-left:8px;
}
.arti_header_me{
    background: #f70;
}
.name-member_v{
    float: left;
    color: #333;
    margin-left: 25px;
}
.member-2{
    margin-left:20px;
}
.member-3{
    margin-left:20px;

}
#ms-center_bos{
    width:1200px !important;
    margin-top:10px;
    margin: 0 auto;
}

.ng-footer {
    height: 130px;
    margin-top: 0;
}
.ng-s-footer {
    height: 130px;
    background: none;
    text-align: center;
}
.ng-s-footer p.ng-url-list {
    height: 25px;
    line-height: 25px;
}
.ng-s-footer p.ng-url-list a {
    color: #666666;
}

.ng-s-footer p.ng-url-list a:hover {
    color: #f60;
}
.ng-s-footer .ng-authentication {
    float: none;
    margin: 0 auto;
    height: 25px;
    width: 990px;
    margin-top: 5px;
}

.ng-s-footer p.ng-copyright {
    float: none;
    width: 100%;
}
.root1200 .ng-s-footer p.ng-copyright {
    width: 100%;
}
.dt_img{
    width:158px;
    height: 9px;
    background: url("../images/left_cut.png");
}
.sid_Pleft{
    padding-left:50px;
}
.sid_Pleft1{
    padding-top:14px;
    padding-left:50px;
}
.dt_top{
    margin-bottom:23px;
}
.left_cont-side{
    width: 158px;
    height: 644px;
    float: left;
    position: relative;
    margin-left: 13px;
}
.center_cont-main{
    width: 747px;
    height: auto;
    float: left;
    margin-top: 14px;
    margin-left: 14px;
}
.right_cont-main{
    float: left;width:250px ;
    margin-top: 14px;
    margin-left: 14px;
}
.center_cont-main1{
    width: 747px;
    float: left;
    background-color: #fff;
    height: 230px;
}
.center_cont-main2{
width: 747px;display: inline-block; float: left;margin-top: 20px;background-color: #fff;
}
.center_cont-main3{
    width: 747px;
    display: inline-block;
    margin-top: 20px;
    background-color: #fff;
    float: left;
    text-align: left;
}
.center_cont-main4{
width: 747px;display: inline-block; margin-top:0px;background-color: #fff;float: left;}
.cont_ms1{
    float: left;
    width:215px ;
    height: 140px;
    box-shadow: 0px 3px 10px #efefef;
    border-radius: 5px;
    padding: 4px 9px;
}
.cont_ms2{
  margin-left: 20px;
}
.cont-ms1{
    margin-left:10px;
    margin-top:10px !important;
}
.cont-ms2{
    margin-left:14px;
    margin-top:10px !important;
}
.cont-border1{
    width: 100%;height: 100%;border: 1px #F2873B dashed;
    border-radius: 5px;
    position: relative;
}
.cont-asset{

    font-size: 18px;
    color: #686868;font-weight: bold;
    display: block; width: 100px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 28px;
}
.cont-asset_bottom{
    margin-bottom: 7px;
}
.cont-month{
    font-size: 36px;
    color: #F88600;
    display: block;
    width: 100px;
    margin-left: 50px;
    margin-top: 18px;
}
.cont-input{
    background-color: #f56a48;
    border-radius: 5px;
    color: #fff;
    font-size:14px;
    border: 0px;
    width: 107px;
    height: 26px;
    margin-top: 20px;
}
.cont-as_bottom{
    margin-bottom: 0px;
}
.cont-benefit{
    width: 87px;
    background-color: #fee3dc;
    padding: 1px 5px;
    border: 1px #C62B26 dashed;
    border-radius: 5px;
    position: absolute;
    right: 65px;
}

.cont-img{
    position: absolute;
    top: 89px;
    right: 78px;
    height: 50px;
}
.cont-img-top{
    height: 60px;
    position: absolute;
    top: 80px;
}
.center_cont-main-top{
    width:747px;
    height: 170px;
}
.center_cont-main-bottom{
    width: 724px;
    height: 60px;
    margin-left: 12px;
    border-top: 1px #ccc solid;
}
.cont-pay{
   font-size: 14px;
    color: #686868;
    float: left;
    line-height: 61px;
}
.pay-left{
    margin-left: 53px;
}
.count-font{
    color: #CF2D27;
}
.pay-lr{
    margin-left: 40px;margin-right: 40px;
}
.logistics{
    border-bottom: 1px #ccc solid;
    width: 724px;
    margin-left: 12px;
}
.logistics p{
    font-size: 16px;text-align: left;
    margin: 15px 0px 17px 0px;
}
.liula{
    margin: 15px 0px 17px 0px;
   /* font-size: 16px !important;*/
}
.huanyiz{
    width: 72px;
    height: 20px;
    margin-left: 508px;
}
.Baby_Collection{
     padding:25px 0 0 12px;
    height: 115px;

 }
.Baby_Collection_border{
    border-bottom: 1px #ccc solid;
    height: 115px;
    width: 720px;
}
.Baby_Collectiony{
    padding:25px 0 0 12px;
    border-bottom: 1px #F5F5F5 solid;height: 115px;
}
.bay_collen1{
    padding: 20px 20px;
    border-bottom: 1px #F5F5F5 solid;
    height: 115px;
}
.bay_collenct1{
    float: left;
    margin-left:5px;
}
.bay_collenct{
    float: left;margin-top: 10px;
}
.bay_collenct-img{
    width:140px;
    height: 110px;
}
.bay_collenct2{
    float: left;margin-top: 20px;  margin-left: 10px;line-height: 22px;
}
.bay-time{
    text-align: left;
}
.bay_collenct3{
    float: right;margin-right: 24px;margin-top: 50px;
}
.by-button{
    border: 1px #b7b6b5  solid;padding: 5px;background-color: #fff;color: #b7b6b5 ;
}
.Expand_information{
    text-align: center;margin-top: 17px;
    padding-bottom: 17px;
    position: relative;
}
.Expand_information span{

}
.Expand_information img{
    position: absolute;
    top: 2px;
    left: 57%;

}
.Expation{
    color: #959595;
    text-decoration: none;
}
.Expation:hover{
    color: #959595;
    text-decoration: none;
}
.center_cont-main3 span{
    font-family: 'Microsoft YaHei', Helvetica, sans-serif;
    font-size: 16px;
    margin-left:14px;
}
.center_glass{
    padding:10px ;text-align: center;float: left;
}
.center_glass_detail{
    float: left;
}
.detailp{
    width: 221px;
    text-align: left;
    line-height: 22px;
    margin-top: 10px;
}
.detailspan{
    display: block;
    float: left;
    margin-left: 10px;
    color: #f78642;
    font-size: 16px;
    width: 50px;
    text-align: left;
    margin-top: 5px;
}
.detail_dl01{
   float:left;
    color:#959595;
    margin-top: 5px;
}
.detail_dl02{
    float: left;
   margin-top: 30px;
    clear:both;
    width: 115px;
    text-align: left;


}
.detail_dl03{
    float: left;margin-top: 30px;
    text-align: left;
}
.right_menu{
    font-size: 14px;
    text-align:center;
    background-color: #fff;
  height: 40px;
    color: #F88600;
    font-size: 14px;
    position: relative;

}
.right_menu img{
    position: absolute;
    top:11px;
    left:32%;
}
.right_menu span{
    position: absolute;
    top:11px;
    left:40%;
}
.coupon{
    background-color: #fff;
    margin-top: 10px;
    height: 300px;
    text-align: center;

}
.coupon_p{
    font-size: 16px;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;

}
.coupon img{
    width:227px;
    height: 81px;
    margin:0px;
}
.counp_p1{
    margin-top: 30px;
    font-size: 14px;
    color: #686868;

}
.coupon_h{
    height: 200px;
}
.Collection_img{
    margin-top: 20px;
    width:55px !important;
  height: 47px !important;
}
.Stroll{
    margin-top: 30px;font-size: 14px;color: #686868;
}
.Shopping_Cart{
    background-color: #fff;margin-top: 10px;height: 290px;padding: 10px;
}
.shop_img{
    margin-top: 10px;height: 100px;width: 100px;float: left;
    margin-left:0;
}
.old_Price{
    float: left;margin-left: 18px;
    margin-top:36px;
    color:#959595;
}
.new_Price{
    margin-top:36px;
    display: block;float: left;margin-left: 10px;color: #f78642;font-size: 16px;
}
.introduce{
    width: 92px;font-size: 12px;color: #686868;
    margin-left:7px;
    height: 195px;
    line-height: 22px;
}
.coupon_fl{
    float:left;
    text-align: center;
}
.see_coup{
    margin: 0px;
    font-size: 14px;
    color: #686868;
    clear: both;
    text-align: center;
    line-height: 31px;
}
.cm{
    width:72px !important;
    height: 79px !important ;
}
.ms-help_car{
    font-family: 'Arial', Helvetica, sans-serif;

}

